#SPDX-License-Identifier: MIT-0
---
# tasks file for sap_hana_bone_partitioning
- name: Create string variable
  set_fact:
    disks_string: "{{ sap_hana_bone_disks | join(',') }}"

- name: Install lvm2 dependency
  package:
    name: lvm2
    state: present

- name: Task for creating volume group on "{{ disks_string }}"
  lvg:
      vg: "{{ sap_hana_bone_lvg_name }}"
      pvs: "{{ sap_hana_bone_disks }}"
      pesize: 16

- name: Task for creating logical volumes
  lvol:
      vg: "{{ sap_hana_bone_lvg_name }}"
      lv: "{{ item.name }}"
      size: "{{ item.size }}"
      state: present
      force: true
  loop: "{{ sap_hana_bone_lvs }}"

- name: Task for formating the LVs with the given filesystem
  filesystem:
    fstype: "{{ item.fstype }}"
    dev: "/dev/{{ sap_hana_bone_lvg_name }}/{{ item.name }}"
  loop: "{{ sap_hana_bone_lvs }}"

- name: Task for creating the mount points
  file:
    path: "{{ item.mount_point }}"
    state: directory
    owner: root
    group: root
    mode: '0755'
  loop: "{{ sap_hana_bone_lvs }}"

- name: Task to mount the LVs
  mount:
    path: "{{ item.mount_point }}"
    src: "/dev/{{ sap_hana_bone_lvg_name }}/{{ item.name }}"
    fstype: "{{ item.fstype }}"
    state: mounted
  loop: "{{ sap_hana_bone_lvs }}"

- name: Create entries in /etc/fstab
  mount:
    path: "{{ item.mount_point }}"
    src: "/dev/{{ sap_hana_bone_lvg_name }}/{{ item.name }}"
    fstype: "{{ item.fstype }}"
    opts: defaults
    state: present
  loop: "{{ sap_hana_bone_lvs }}"

