---
# Playbook to create a LVM on one ore more empty harddisks for SAP systems with given partitions.
# This playbook uses following ansible modules:
# set_fact: to 
# parted: to create the necessary partitions
# package: to install the necessary software
# lvg: to create the logical volume group
# lvol: to create the logical volumes (partitions)
# filesystem: to formate the partitions
# file: to create the mount points
# mount: to mount the partitions to the mount points and insert this into the fstab to be persistent
#
- name: playbook for creating flexible LVM partitioning
  hosts: "{{ hosts }}"
  become: true
  gather_facts: true

  tasks:
    - name: Create string variable
      set_fact:
        disks_string: "{{ disks | join(',') }}"

    - name: Install lvm2 dependency
      package:
        name: lvm2
        state: present

    - name: Task for creating volume group on "{{ disks_string }}"
      lvg:
          vg: "{{ lvg_name }}"
          pvs: "{{ disks }}"
          pesize: 16

    - name: Task for creating logical volumes
      lvol:
          vg: "{{ lvg_name }}"
          lv: "{{ item.name }}"
          size: "{{ item.size }}"
          state: present
          force: true
      loop: "{{ lvs }}"

    - name: Task for formating the LVs with the given filesystem
      filesystem:
        fstype: "{{ item.fstype }}"
        dev: "/dev/{{ lvg_name }}/{{ item.name }}"
      loop: "{{ lvs }}"

    - name: Task for creating the mount points
      file:
        path: "{{ item.mount_point }}"
        state: directory
        owner: root
        group: root
        mode: '0755'
      loop: "{{ lvs }}"

    - name: Task to mount the LVs
      mount:
        path: "{{ item.mount_point }}"
        src: "/dev/{{ lvg_name }}/{{ item.name }}"
        fstype: "{{ item.fstype }}"
        state: mounted
      loop: "{{ lvs }}"

    - name: Create entries in /etc/fstab
      mount:
        path: "{{ item.mount_point }}"
        src: "/dev/{{ lvg_name }}/{{ item.name }}"
        fstype: "{{ item.fstype }}"
        opts: defaults
        state: present
      loop: "{{ lvs }}"
