#SPDX-License-Identifier: MIT-0
---
# tasks file for sap_hana_bone_prepare
- name: 1. Ensure required prerequisite packages are installed
  ansible.builtin.package:
    name:
      - ansible-sap-install # required for the installation
      - lvm2                # required for the installation
      - unzip               # required for the installation
      - libatomic1          # required for HANA
      - libgcc_s1           # required for HANA
      - libstdc++6          # required for HANA
    state: present
    update_cache: yes # Ensure package manager cache is updated before installing

- name: 2. Ensure /etc/sysctl.conf file exists and has correct ownership
  ansible.builtin.file:
    path: /etc/sysctl.conf
    state: touch      # 'touch' creates the file if it doesn't exist
    owner: root       # Sets the owner to root
    group: root       # Sets the group to root
    mode: '0644'      # Sets permissions (read/write for owner, read for group/others)

- name: 3. Ensure /etc/init.d directory exists and has correct ownership
  ansible.builtin.file:
    path: /etc/init.d
    state: directory  # Ensures the path exists as a directory
    owner: root
    group: root
    mode: '0755'      # Standard permissions for system directories (rwxr-xr-x)

- name: 4. Ensure "{{ sap_hana_install_software_directory }}" directory exists and has correct ownership
  ansible.builtin.file:
    path: "{{ sap_hana_install_software_directory }}"
    state: directory  # Ensures the path exists as a directory
    owner: root
    group: root
    mode: '0755'      # Standard permissions for system directories (rwxr-xr-x)

- name: 4.1 Ensure "{{ sap_hana_install_software_extract_directory }}" directory exists and has correct ownership
  ansible.builtin.file:
    path: "{{ sap_hana_install_software_extract_directory }}"
    state: directory  # Ensures the path exists as a directory
    owner: root
    group: root
    mode: '0755'      # Standard permissions for system directories (rwxr-xr-x)

- name: 5. Ensure "{{ sap_bone_install_software_directory }}" directory exists and has correct ownership
  ansible.builtin.file:
    path: "{{ sap_bone_install_software_directory }}"
    state: directory  # Ensures the path exists as a directory
    owner: root
    group: root
    mode: '0755'      # Standard permissions for system directories (rwxr-xr-x)

- name: 5.1 Ensure "{{ sap_bone_install_software_extract_directory }}" directory exists and has correct ownership
  ansible.builtin.file:
    path: "{{ sap_bone_install_software_extract_directory }}"
    state: directory  # Ensures the path exists as a directory
    owner: root
    group: root
    mode: '0755'      # Standard permissions for system directories (rwxr-xr-x)

- name: SAP Business One Pre Install, create parameters file
  ansible.builtin.template:
    src: "templates/b1h_properties.j2"
    dest: "{{ sap_bone_install_software_extract_directory }}/b1h_properties"
    owner: 'root'
    group: 'root'
    mode: '0600'

