<?xml version="1.0" encoding="UTF-8"?>
<Passwords>
    <root_password><![CDATA[{{ sap_master_password }}]]></root_password>
    <sapadm_password><![CDATA[{{ sap_master_password }}]]></sapadm_password>
    <master_password><![CDATA[{{ sap_master_password }}]]></master_password>
    <sapadm_password><![CDATA[{{ sap_master_password }}]]></sapadm_password>
    <password><![CDATA[{{ sap_master_password }}]]></password>
    <system_user_password><![CDATA[{{ sap_master_password }}]]></system_user_password>
    <lss_user_password><![CDATA[{{ sap_master_password }}]]></lss_user_password>
    <lss_backup_password><![CDATA[{{ sap_master_password }}]]></lss_backup_password>
    <streaming_cluster_manager_password><![CDATA[{{ sap_master_password }}]]></streaming_cluster_manager_password>
    <ase_user_password><![CDATA[{{ sap_master_password }}]]></ase_user_password>
    <org_manager_password><![CDATA[{{ sap_master_password }}]]></org_manager_password>
</Passwords>

